@import url('https://fonts.googleapis.com/css?family=Roboto+condensed');
.body {
    height: 107vh;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-color: #dcdcdc;
    color: black;
    align-items: center;
}

.userprofile {
    color: black;
    background-color: #dcdcdc;
    width: 25.5rem;
    max-width: 30rem;
    border-radius: .5rem;
    overflow: hidden;
    margin: 0px 0px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 50rem;
    width: 105%;
}

.profileinfoo h2 {
    margin: -3px;
    color: white;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: -10px;
}

.profileinfoo h3 {
    margin: -3px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.profileinfoo h1 {
    margin: -0px;
    color: yellow;
}

.profileinfooo h1 {
    margin: -1px;
    color: black;
    text-align: center;
}

.profileinfooo h3 {
    margin: -1px;
    color: red;
    font-size: 15px;
    text-align: center;
}

.profiletop {
    background-color: rgb(4, 4, 49);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 130%;
    padding: .5rem;
    text-align: center;
    color: white;
    border-radius: 0px;
    z-index: 100%;
}

.flecy {
    margin-top: -25px;
    display: flex;
    color: black;
}

.bg h9 {
    color: black;
    padding: 0 .8rem;
}

.status {
    width: 45%;
    margin: 0 1px;
    color: black;
}

.status h1 {
    font-size: 12px;
    margin-top: -5px;
    text-align: center;
    padding: 0 1rem;
    color: black;
}

.bg {
    width: 25%;
    margin: 0 1px;
    color: black;
}

.col {
    flex-direction: column;
}

.col h1 {
    margin: 8px;
    margin-top: 4px;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: .5rem;
    text-align: center;
    color: black;
}

.col h4 {
    margin: 8px;
    color: red;
    font-size: 12px;
    margin-bottom: 0px;
    line-height: .5rem;
    text-align: center;
}

.bg h1 {
    font-size: 12px;
    margin-top: -5px;
    text-align: center;
    padding: 0 1.5rem;
    color: black;
}

.school .profileinfo {
    flex-direction: column;
    margin: -11px 0px;
    color: black;
}

.sex {
    width: 25%;
    margin: 0 1px;
}

.sex h1 {
    font-size: 12px;
    margin-top: -5px;
    text-align: center;
    padding: 0 1.5rem;
    color: black;
}

.lga h1 {
    font-size: 12px;
    margin-top: -8px;
    text-align: center;
    padding: 0 0rem;
    color: black;
}

.lgacol {
    flex-direction: column;
}

.lgacol h1 {
    margin: -1px;
    font-size: 12px;
    text-align: center;
    color: black;
}

.lgacol h3 {
    margin: -1px;
    color: red;
    font-size: 12px;
    text-align: center;
}

.contact h1 {
    font-size: 12px;
    margin: 0px;
    text-align: center;
    color: black;
}

.bottom {
    display: flex;
    margin: -9px 0px;
    justify-content: center;
}

.profiletop img {
    border-radius: 5%;
    border: 0px solid white;
    height: 22em;
    width: 19rem;
    object-fit: cover;
    margin-top: 0px;
}

.profiletop .profileinfo {
    margin-top: 0rem;
    color: rgb(235, 223, 223);
    color: black;
}

.profilebottom {
    margin-top: .5rem;
    padding: .5rem;
    margin-left: 1rem;
}

.profileinfo p2 {
    padding: 0 0px;
    color: white;
}

.p1 {
    background-color: black;
    width: 9.5rem;
    height: 2.5rem;
    padding: 0rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    max-width: 95%;
    justify-content: center;
}

.p2 {
    background-color: red;
    width: 9.5rem;
    height: 2.5rem;
    padding: 0rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    max-width: 95%;
    justify-content: center;
}

.p2 .a {
    text-decoration: none;
}

.profileinfo h1 {
    font-weight: 100px;
    font-size: 20px;
}

.profilebottom .profileinfo {
    background-color: white;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .0rem;
    display: flex;
    align-items: center;
    max-width: 95%;
    justify-content: center;
    box-shadow: rgb(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 03)0px 8px 16px -8px;
    transition: 0.5s ease;
    border: 1px rgb(214, 211, 211) solid;
}

.profilebottom .profileinfo:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}